<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WebSystem.mapper.CarMapper">
    <select id="selectall" resultType="Car">
        select id,car_Num as carNum,brand,guide_price as guideprice,produce_Time as produceTime,car_Type as carType from t_car
    </select>

</mapper>